
.search-bar2 {
    display: flex;
    align-items: center;
    max-width: 100%;
    transition: 1s;
    margin: 0 auto;
    background-color: #e7e5e5;;
   position: relative;
   top: 70px;
    border-radius: 5px;
    padding: 5px;
    z-index: 22;
    transition: 1s;
  }

  .search-input2 {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    z-index: 20;
    background-color: #e7e5e5;
  }

  .search-button2 {
    background-color: #e7e5e5;; 
    color: #3f3f3f;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 20;
    transition: 1s;
  }
  .search-button2:hover {
    background-color: #00ced1; 
    z-index: 20;
    color: #fff;
    transition: 1s;
}
